<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902898861120-dedlc9u2ebcj4kdg7crlhnu9i4kerbsc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902898861120-dedlc9u2ebcj4kdg7crlhnu9i4kerbsc</string>
	<key>API_KEY</key>
	<string>AIzaSyBkaOi3NctKQMUKdNR7Vp3RhSAfnCZmDuE</string>
	<key>GCM_SENDER_ID</key>
	<string>902898861120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mehmetbilir.ChatChat</string>
	<key>PROJECT_ID</key>
	<string>chatchat-cd573</string>
	<key>STORAGE_BUCKET</key>
	<string>chatchat-cd573.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902898861120:ios:62f4c995306b3ff8bd4ba5</string>
</dict>
</plist>