<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Please allow access to select a photo for your profile</string>
	<key>NSCameraUsageDescription</key>
	<string>Please allow access to take a profile picture</string>
</dict>
</plist>
