<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Please allow access to select a photo for your profile</string>
	<key>NSCameraUsageDescription</key>
	<string>Please allow access to take a profile picture</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb3256082198055054</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>3256082198055054</string>
	<key>FacebookClientToken</key>
	<string>f34a64ce00e62b00ac4adfe8837ebf28</string>
	<key>FacebookDisplayName</key>
	<string>ChatChat</string>
    
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>fbapi</string>
      <string>fb-messenger-share-api</string>
    </array>
</dict>
</plist>
